<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!--<welcome-file-list>-->
    <!--<welcome-file>index.html</welcome-file>-->
    <!--<welcome-file>index.htm</welcome-file>-->
    <!--<welcome-file>index.jsp</welcome-file>-->
    <!--<welcome-file>default.html</welcome-file>-->
    <!--<welcome-file>default.htm</welcome-file>-->
    <!--<welcome-file>default.jsp</welcome-file>-->
    <!--</welcome-file-list>-->


    <listener>
        <listener-class>
            com.htp.listener.ConnectPoolListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.htp.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <jsp-file>/WEB-INF/jsp/reservation/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Adress</servlet-name>
        <jsp-file>/WEB-INF/jsp/reservation/adress.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adress</servlet-name>
        <url-pattern>/adress</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ban_page</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/you_are_banned.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ban_page</servlet-name>
        <url-pattern>/blocked</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Main_table</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/main_table.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main_table</servlet-name>
        <url-pattern>/main_table</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>My_numbers</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/my_numbers_table.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>My_numbers</servlet-name>
        <url-pattern>/my_numbers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add_new_number</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/add_new_number.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_new_number</servlet-name>
        <url-pattern>/add_new_number</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin_phones</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin_all_phones.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_phones</servlet-name>
        <url-pattern>/adm_phones</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin_users</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin_all_users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_users</servlet-name>
        <url-pattern>/adm_users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin_user_edit</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin_edit_user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_user_edit</servlet-name>
        <url-pattern>/adm_user_edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin_phones_edit</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin_edit_phones.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_phones_edit</servlet-name>
        <url-pattern>/adm_phones_edit</url-pattern>
    </servlet-mapping>


    <!--Filters -->




</web-app>